# build outputs
/build/
/logs/

# Python venv
/mavproxy-venv/

# Webots cache (optional)
/controllers/*/worlds/.cache

# OS / editor cruft
*.pyc
__pycache__/
*.swp

/worlds/.iris.wbproj

eeprom.bin
mav.parm
mav.tlog
mav.tlog.raw